.catalog {
  background-color: $catalogBgColor;
  padding-top: 31px;
  padding-bottom: 31px;
  @media screen and (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.catalog__title {
  font-family: $secondFont;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  text-align: center;

  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
.catalog__list {
  @media screen and (max-width:767px){
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width:$tablet){
    display: grid;
    grid-template-columns: repeat(2, 303px);
    grid-template-rows: repeat(4, 182px);
    // grid-row-gap: 20px;
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 270px);
    grid-column-gap: 14px;
  }
}
.catalog__item {
  position: relative;
  transition: transform 250ms $cubicBezier;
  
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
    @media screen and (max-width:767px){
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  @media screen and (min-width:$tablet){
    &--first{
      grid-column: 1;
      grid-row: 1 / 2;
      align-self: flex-start;
    }
    &--second{
      grid-column: 2;
      grid-row: 4;
      align-self: flex-end;
    }
    &--third{
      grid-column: 2;
      grid-row: 1 / 2;
      align-self: flex-start;
    }
    &--fourth{
      grid-column: 2;
      grid-row:3;
      align-self: flex-end;
    }
    &--fifth{
      grid-column: 1;
      grid-row: 4;
      align-self: flex-end;
    }
  }
  @media screen and (min-width: $desktop) {
    &--first {
      grid-column: 1;
      grid-row: 1 / 3;
    }
    &--second {
      grid-column: 2 / 3;
      grid-row: 1;
      align-self: center;
    }
    &--third {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      align-self: baseline;
    }
    &--fourth {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: flex-end;
    }
    &--fifth {
      grid-column: 3 / 4;
      grid-row: 2;
      align-self: flex-end;
    }
    
  }
}

.text__container {
  position: absolute;
  bottom: 15px;
  left: 22px;
  z-index: 3;
}
.catalog__text {
  text-decoration: underline;
  color: $secondTextColor;
  @media screen and (min-width: $desktop) {
    font-size: 22px;
    line-height: 1.36;
  }
}
.image__container {
  position: relative;
  &--first::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    max-width:315px;
    max-height: 437px;

    border-radius: 20px;

    background: linear-gradient(
      0deg,
      rgba(3, 31, 38, 0.3),
      rgba(3, 31, 38, 0.3)
    );
  }

  &--second::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    width:315px;
    max-height: 177px;

    border-radius: 20px;

    background: linear-gradient(
      0deg,
      rgba(3, 31, 38, 0.3),
      rgba(3, 31, 38, 0.3)
    );
  }

  &--third::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    width:315px;
    max-height: 281px;

    border-radius: 20px;

    background: linear-gradient(
      0deg,
      rgba(3, 31, 38, 0.3),
      rgba(3, 31, 38, 0.3)
    );
  }

  &--fourth::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    width:315px;
    max-height: 177px;

    border-radius: 20px;

    background: linear-gradient(
      0deg,
      rgba(3, 31, 38, 0.3),
      rgba(3, 31, 38, 0.3)
    );
  }

  &--fifth::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    max-width:315px;
    max-height: 130px;

    border-radius: 20px;

    background: linear-gradient(
      0deg,
      rgba(3, 31, 38, 0.3),
      rgba(3, 31, 38, 0.3)
    );
  }

  @media screen and (min-width: $tablet) {
    &--first::before {
      max-width: 289px;
      max-height: 541px;
    }
    &--second::before{
      width: 368px;
      max-height: 162px;
    }
    &--third::before {
      width: 368px;
      max-height: 352px;
    }
    &--fourth::before{
      width: 368px;
      max-height: 179px;
    }
    &--fifth::before{
      max-width: 289px;
      max-height: 162px;
    }
  }
  @media screen and (min-width: $desktop) {
    &--first::before {
      max-width: 366px;
      
    }

    &--second::before {
      max-width: 356px;
      max-height: 258px;
    }

    &--fourth::before {
      max-width: 356px;
      max-height: 258px;
    }

    &--fifth::before {
      max-width: 370px;
      
    }
  }
}
.catalog__img {
  border: none;
  border-radius: 20px;
}
