.container{
 max-width: $mobile;
 padding: 0 15px;
 margin: 0;
 margin-left: auto;
 margin-right: auto;
 @media screen and (min-width:$tablet){
    max-width: $tablet;
 }
 @media screen and (min-width:$desktop){
    max-width: $desktop;
 }
}
body{
    font-size: 18px;
    color:$mainTextColor;
    font-family: $mainFont;
    font-weight: $mainFontWeight;
}
h1,h2,h3,h4,h5,h6,p,ul,a{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}