.header {
  position: absolute;
  width: 100%;
  z-index: 999;
padding-top: 34px;
padding-bottom: 17px;
  border-bottom: 2px solid #f6f7f1;
  @media screen and (min-width: $tablet) {
    padding-top: 52px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 53px;
    padding-bottom: 35px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
  
}
.catalog__header{
  background-color: $mainTextColor;
  @media screen and (min-width:$desktop){
    padding-top: 50px;
    padding-bottom: 29px;
  }
}
.logo__container {
  @media screen and (max-width: 767px) {
    margin-right: auto;
  }
  @media screen and (min-width:$tablet){
    margin-right: auto;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 51px;
  }
}
.logo {
  font-size: 18px;
  line-height: 1;
  font-family: $secondFont;
  font-weight: $logoFontWeight;
  background: linear-gradient(90.33deg, #f3d0b7 -1.9%, #b3d1d9 104.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  line-height: 1;
  @media screen and (min-width: $tablet) {
    font-size: 23px;
    line-height: 1.31;
  }
}
.menu{
  @media screen and (max-width:1279px){
    display: none;
    
      &.open {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: -34px;
        left: 0;
        padding-top: 105px;
        padding-left: 30px;
        padding-bottom: 104px;
        
        background-color: $mainTextColor;
        width: 100%;
        
        @media screen and (min-width:$tablet){
          top: -52px;
          padding-top: 150px;
            padding-left: 50px;
            padding-bottom: 206px;
            max-height: 752px;
        }
      }
  }
  @media screen and (min-width:$desktop){
    display: flex;
    align-items: center;

  }
}
.navigation {
  @media screen and (max-width:767px){
    margin-bottom: 50px;
  }
  @media screen and (min-width:$tablet) and (max-width:1279px){
    margin-bottom: 70px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 51px;
  }
}
.nav__list {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav__item {
  @media screen and (max-width:767px){
    &:nth-child(3){
      display: none;
    }
  }
  @media screen and (max-width: 1279px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}
.nav__link {
  color: $secondTextColor;
  font-size: 40px;
  line-height: 1.25;
  
  @media screen and (max-width:1279px){
    font-family: $secondFont;
    font-weight: 300;
  }
  @media screen and (min-width:$tablet){
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
        padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
      &:focus {
      padding: 0 12px;
        background-color: $btnBgColor;
        border-radius: 5px;
      }
  }
  @media screen and (min-width: $desktop) {
    font-size: 22px;
    line-height: 1.14;
    &:hover,
    &:focus{
      padding: 7px 21px;
    }
    
  }
}
.language {
  display: flex;
  align-items: center;
  top: 20px;
  right: 85px;
  @media screen and (max-width:1279px){
    position: absolute;
  }

  @media screen and (min-width:$tablet){
    top: 39px;
    right: 105px;
    margin: 0;
  }
  @media screen and (min-width:$desktop){
    margin-right: 20px;
  }
  &--tabl{
    margin-right: 20px;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  
}
.language__btn {
  font-size: 18px;
  line-height: 1.67;
  margin-right: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #afafaf;
  cursor: pointer;
  &.active {
    text-decoration: underline;
    color: $btnBgColor;
  }
    &--last {
      margin: 0;
    }
  
  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.36;
    margin-right: 6px;
    
  }
  
}
.icon__container{
  display: flex;
  top: 25px;
  right: 179px;
  @media screen and (max-width:1279px){
    position: absolute;
  }
  @media screen and (min-width:$tablet){
    top: 43px;
    right: 199px;
  }
}
.phone {
  margin-right: 12px;
  @media screen and (min-width: $desktop) {
    margin-right: 20px;
  }
}
.phone__icon {
  fill: $btnBgColor;
  transition: fill 250ms $cubicBezier;
  &:hover,
  &:focus {
    fill: $hoverIconColor;
  }
  @media screen and (max-width:1279px){
    width: 19px;
    height: 19px;
  }
}
.basket {

}
.basket__icon {
  fill: $btnBgColor;
  transition: fill 250ms $cubicBezier;

  &:hover,
  &:focus {
    fill: $hoverIconColor;
  }
    @media screen and (max-width:1279px) {
      width: 19px;
      height: 19px;
    }
}
.burger__menu{
  @media screen and (min-width:$desktop){
    display: none;
  }
}
.burger__btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close__btn{
  border: none;
  position: absolute;
    background-color: transparent;
    top: 28px;
    right: 30px;
    cursor: pointer;
    @media screen and (min-width:$tablet){
      top: 43px;
      right: 50px;
    }
    @media screen and (min-width:$desktop){
      display: none;
    }
}
.about__list--header{
  display: flex;
  align-items: center;
@media screen and (max-width:767px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width:$desktop){
    display: none;
  }
  
}
.contacts--header{
  @media screen and (min-width:$tablet){
    display: none;
  }
  
}