.button__container{
    width: 250px;
    height: 75px;
    border: 1px solid #000;
    border-radius: 100px / 50px;
    transform: rotate(-4.27deg);
}
.button{
    width: 250px;
    height: 75px;
    border: 1px solid #000;
    border-radius: 100px / 50px;
    transform: rotate(-0.53deg);
}