.reviews{
    overflow-x: hidden;
    background-color: $secondTextColor;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (min-width:$desktop){
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.reviews__title{ 
    font-family: $secondFont;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;

    margin-bottom: 30px;
    @media screen and(min-width:$desktop){
        margin-bottom: 40px;
    }
}
.reviews__item{
   
    padding: 35px 50px;
    
    
}
.reviews__name{
    text-align: center;
    font-weight: 500;
        font-size: 32px;
        line-height: 1.21;
        margin-bottom: 30px;
}
.reviews__text{
    text-align: center;
    font-size: 22px;
        line-height: 1.22;
}