$mainFont:'Montserrat',
sans-serif;
$secondFont:'Cormorant Infant',
serif;
$mainFontWeight: 300;
$logoFontWeight:700;
$footerAccentFontWeight:500;
$mainTextColor:#074050;
$secondTextColor:#F6F7F1;
$btnBgColor:#F3D0B7;
$catalogBgColor:#B3D1D9;
$hoverIconColor:#F0B69C;
$hoverBtnColor:#F9B584;
$cubicBezier:cubic-bezier(0.4, 0, 0.2, 1);