<div class="container switcher__container">
  <div class="switcher__button-container">
    <a class="switcher__button" href="./index.html#catalog">
      <svg class="button__icon" width="80" height="22">
        <use href="./images/icons.svg#arrow-back"></use></svg
    ></a>
  </div>
  <div class="swicher__navigate">
    <ul class="switcher__list">
      <li class="switcher__item">
        <button id="plaid" class="switcher__buttons switcher__buttons--active" type="button">
          Пледи
        </button>
      </li>
      <li class="switcher__item">
        <button id="kids" class="switcher__buttons" type="button">
          Для малюків
        </button>
      </li>
      <li class="switcher__item">
        <button id="bathroom" class="switcher__buttons" type="button">
          Килим у ванну
        </button>
      </li>
      <li class="switcher__item">
        <button id="colour" class="switcher__buttons" type="button">
          Кольори
        </button>
      </li>
      <li class="switcher__item">
        <button id="individual" class="switcher__buttons" type="button">
          Індивідуальне замовлення
        </button>
      </li>
    </ul>
  </div>
</div>
