<section class="advantages">
  <div class="container">
    <ul class="images__list">
      <li class="images__item"><img src="#" alt="#" srcset="#" /></li>
      <li class="images__item"><img src="#" alt="#" srcset="#" /></li>
    </ul>
    <h2 class="advantages__title">Переваги</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__text">Якість виконання роботи</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__text">
          Матеріал, з якого виконані вироби, гіпоалергенний та підходить навіть
          для немовлят
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__text">
          Різноманітність у виборі візерунка, кольору, розміру виробу та надання
          допомоги у підборі саме під ваш запит
        </p>
      </li>
    </ul>
  </div>
</section>
