<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог</h2>
    <ul class="catalog__list">
      <li class="catalog__item catalog__item--first">
        <a href="#" class="catalog__link">
          <div class="image__container image__container--first">
            <img
              class="catalog__img"
              src="./images/catalog/plaid-289w.jpg"
              alt="Пледи"
              srcset="
                ./images/catalog/plaid-289w.jpg 289w,
                ./images/catalog/plaid-315w.jpg 315w,
                ./images/catalog/plaid-366w.jpg 366w,
                ./images/catalog/plaid-578w.jpg 578w,
                ./images/catalog/plaid-630w.jpg 630w,
                ./images/catalog/plaid-732w.jpg 732w
              "
              sizes="(min-width:1280px) 366px, (min-width:768px) 289px, (max-width:767px) 315px, 100vw"
            />
          </div>
          <div class="text__container">
            <p class="catalog__text">Пледи</p>
          </div>
        </a>
      </li>
      <li class="catalog__item catalog__item--second">
        <a href="#" class="catalog__link">
          <div class="image__container image__container--second">
            <img
              class="catalog__img"
              src="./images/catalog/bathroom-315w.jpg"
              alt="Килим у ванну"
              srcset="
                ./images/catalog/bathroom-315w.jpg 315w,
                ./images/catalog/bathroom-356w.jpg 356w,
                ./images/catalog/bathroom-368w.jpg 368w,
                ./images/catalog/bathroom-630w.jpg 630w,
                ./images/catalog/bathroom-712w.jpg 712w,
                ./images/catalog/bathroom-736w.jpg 736w
              "
              sizes="(min-width:1280px) 356px,(min-width:768px) 368px,(max-width:767px) 315px, 100vw"
            />
          </div>
          <div class="text__container">
            <p class="catalog__text">Килим у ванну</p>
          </div>
        </a>
      </li>
      <li class="catalog__item catalog__item--third">
        <a href="#" class="catalog__link">
          <div class="image__container image__container--third">
            <img
              class="catalog__img"
              src="./images/catalog/individual-315w.jpg"
              alt="Індивідуальне замовлення"
              srcset="
              ./images/catalog/individual-315w.jpg 315w,
                ./images/catalog/individual-368w.jpg 368w,
                ./images/catalog/individual-630w.jpg 630w,
                ./images/catalog/individual-736w.jpg 736w
              "
              sizes="(min-width:768px) 368px,(max-width:767px) 315px, 100vw"
            />
          </div>
          <div class="text__container">
            <p class="catalog__text">Індивідуальне замовлення</p>
          </div>
        </a>
      </li>
      <li class="catalog__item catalog__item--fourth">
        <a href="#" class="catalog__link">
          <div class="image__container image__container--fourth">
            <img
              class="catalog__img"
              src="./images/catalog/kids-315w.jpg"
              alt="Дитячі пледи"
              srcset="
                ./images/catalog/kids-315w.jpg 315w,
                ./images/catalog/kids-356w.jpg 356w,
                ./images/catalog/kids-369w.jpg 369w,
                ./images/catalog/kids-630w.jpg 630w,
                ./images/catalog/kids-712w.jpg 712w,
                ./images/catalog/kids-738w.jpg 738w
              "
              sizes="(min-width:1280px) 356px,(min-width:768px) 369px,(max-width:767px) 315px, 100vw"
            />
          </div>
          <div class="text__container">
            <p class="catalog__text">Дитячі пледи</p>
          </div>
        </a>
      </li>
      <li class="catalog__item catalog__item--fifth">
        <a href="#" class="catalog__link">
          <div class="image__container image__container--fifth">
            <img
              class="catalog__img"
              src="./images/catalog/colour-289w.jpg"
              alt="Кольори"
              srcset="
                ./images/catalog/colour-289w.jpg 289w,
                ./images/catalog/colour-315w.jpg 315w,
                ./images/catalog/colour-370w.jpg 370w,
                ./images/catalog/colour-578w.jpg 578w,
                ./images/catalog/colour-630w.jpg 630w,
                ./images/catalog/colour-740w.jpg 740w
              "
              sizes="(min-width:1280px) 370px,(min-width:768px) 289px,(max-width:767px) 315px, 100vw"
            />
          </div>
          <div class="text__container">
            <p class="catalog__text">Кольори</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
