<section class="footer">
  <div class="container footer__container">
    <div class="about">
      <p class="about__logo">Comfort From Tati</p>
      <p class="about__text">Тепло і затишок в душі та домі</p>
      <ul class="about__list">
        <li class="about__item">
          <a href="https://t.me/ComfortFromTati" class="about__link">
            <svg class="about__icon" width="32" height="32">
              <use href="./images/icons.svg#tg"></use>
            </svg>
          </a>
        </li>
        <li class="about__item">
          <a
            href="https://instagram.com/comfort.from.tati?igshid=NzNkNDdiOGI="
            class="about__link"
          >
            <svg class="about__icon" width="32" height="32">
              <use href="./images/icons.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="about__item">
          <a href="viber://chat?number=%2B380979760305" class="about__link">
            <svg class="about__icon" width="32" height="32">
              <use href="./images/icons.svg#vib"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-catalog">
      <h2 class="footer-catalog__title">
        <a href="" class="footer-catalog__main-link">Каталог</a>
      </h2>
      <ul class="footer-catalog__list">
        <li class="footer-catalog__item">
          <a href="" class="footer-catalog__link">Пледи</a>
        </li>
        <li class="footer-catalog__item">
          <a href="" class="footer-catalog__link">Дитячі пледи</a>
        </li>
        <li class="footer-catalog__item">
          <a href="" class="footer-catalog__link">Килимки для вани</a>
        </li>
        <li class="footer-catalog__item">
          <a href="" class="footer-catalog__link">Кольори</a>
        </li>
        <li class="footer-catalog__item">
          <a href="" class="footer-catalog__link">Індивідуальне замовлення</a>
        </li>
      </ul>
    </div>
    <div class="links">
      <ul class="links__list">
        <li class="links__item"><a href="#" class="links__link">Акції</a></li>
        <li class="links__item">
          <a href="#" class="links__link">Контакти</a>
        </li>
        <li class="links__item">
          <a href="#" class="links__link">Запитання</a>
        </li>
      </ul>
    </div>
    <div class="contacts">
        <h2 class="contacts__title">Контакти</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <svg class="contacts__icon" width="32" height="32">
                    <use href="./images/icons.svg#email"></use>
                </svg>
                <p class="contacts__text">Tseluiko_Tanya@ukr.net</p>
            </li>
            <li class="contacts__item">
                <svg class="contacts__icon" width="32" height="32">
                    <use href="./images/icons.svg#phone"></use>
                </svg>
                <p class="contacts__text">+380 97 976 03 05</p>
            </li>
        </ul>
    </div>
  </div>
</section>
