<div class="container">
  <div class="logo__container">
    <p class="logo">Comfort From Tati</p>
  </div>
  <nav class="navigation">
    <ul class="nav__list">
      <li class="nav__item">Каталог</li>
      <li class="nav__item">Акції</li>
      <li class="nav__item">Контакти</li>
      <li class="nav__item">Запитання</li>
    </ul>
  </nav>
  <div class="language">
    <button class="language__btn" type="button">UA</button>
    <button class="language__btn" type="button">EN</button>
  </div>
  <div class="phone">
    <a href="tel:+380979760305" class="phone__link">
      <svg class="phone__icon" width="32" height="32">
        <use href="#"></use>
      </svg>
    </a>
  </div>
  <div class="basket">
    <a href="" class="basket__link">
      <svg class="basket__icon" width="32" height="32">
        <use></use>
      </svg>
    </a>
  </div>
</div>
