<section class="hero" id="hero">
    <div class="hero__background">
        <div class="background__container">
            <h1 class="hero__title">Тепло і затишок в душі та домі</h1>
            <div class="btn"><a href="#catalog" class="hero__btn">Каталог</a></div>
        </div>
        <video class="video video--desktop" autoplay muted loop>
            <source src="./video/20221016-133440-223.mp4" type="video/mp4" />
            <source src="./video/20221016-133440-223.webm" type="video/webm" />
        </video>
    </div>

</section>
