<section class="hero" id="hero">
    <div class="container">
        <div class="hero__video">
            <video class="video video--desktop" loop="loop" autoplay="autoplay" muted="muted">
                <source src="./video/20221016-133440-223.mp4" type="video/mp4"/>
                <source src="./video/20221016-133440-223.webm" type="video/webm"/>
            </video>
        </div>
        <div class="hero__container">
            <h1 class="hero__title">Тепло і затишок в душі та домі</h1>
        </div>
        <div class="btn">
            <a href="#catalog" class="hero__btn">Каталог</a>
        </div>
    </div>
</section>