<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title">Відгуки</h2>
        <div class="slider" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="7000">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item reviews__item">
                        <p class="reviews__name">Larisa</p>
                        <p class="reviews__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto temporibus necessitatibus nam esse adipisci eveniet porro iure totam, obcaecati debitis non aspernatur animi vero impedit, fuga nisi, odio fugit. Veniam placeat, reprehenderit possimus saepe ea voluptatem totam molestiae, distinctio commodi sint iste nisi dignissimos dicta delectus adipisci modi! Id, exercitationem?</p>
                    </div>
                    <div class="slider__item reviews__item">
                        <p class="reviews__name">Nika</p>
                        <p class="reviews__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo facere ratione officiis itaque consectetur rerum distinctio aut recusandae assumenda odit eveniet, quasi placeat mollitia, labore, cupiditate aliquam laboriosam hic quaerat.</p>
                    </div>
                    <div class="slider__item reviews__item">
                        <p class="reviews__name">Andrew</p>
                        <p class="reviews__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, est sit. Voluptas reiciendis nam saepe, iusto eos debitis. Cupiditate perferendis nesciunt, iste error placeat perspiciatis quisquam aut sed quia sequi, aperiam quis beatae. Fugiat, autem minima? Corrupti velit, ad quos error quod quo aperiam cupiditate voluptatum nam officiis molestias vero, asperiores, tempore quam sint perferendis. Ullam iusto veritatis modi asperiores rem esse veniam quis at consequatur sequi sed explicabo amet beatae perferendis nostrum rerum, hic repudiandae inventore nesciunt nemo magnam. Eveniet maiores illo nihil aliquid deserunt tempora voluptas dicta, reiciendis corporis enim, ab optio fugiat eum nulla incidunt voluptatem nobis!</p>
                    </div>
                </div>
            </div>
            <button class="slider__control" data-slide="prev"></button>
            <button class="slider__control" data-slide="next"></button>
        </div>
    </div>
</section>