<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title">Відгуки</h2>
        <div class="slider" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="7000">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item reviews__item reviews__item--first ">
                        <p class="reviews__name">Larisa</p>
                        <p class="reviews__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto temporibus necessitatibus nam esse adipisci eveniet porro iure totam, obcaecati debitis non aspernatur animi vero impedit, fuga nisi, odio fugit. Veniam placeat, reprehenderit possimus saepe ea voluptatem totam molestiae, distinctio commodi sint iste nisi dignissimos dicta delectus adipisci modi! Id, exercitationem?</p>
                    </div>
                    <div class="slider__item reviews__item">
                        <p class="reviews__name">Nika</p>
                        <p class="reviews__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo facere ratione officiis itaque consectetur rerum distinctio aut recusandae assumenda odit eveniet, quasi placeat mollitia, labore, cupiditate aliquam laboriosam hic quaerat.</p>
                    </div>
                    <div class="slider__item reviews__item reviews__item--last ">
                        <p class="reviews__name">Andrew</p>
                        <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nihil tempore consequuntur dolor ad vel dolore animi dicta? Consectetur consequatur commodi, officiis ducimus labore ipsam odit exercitationem rem veritatis. Dolorem.</p>
                    </div>
                </div>
            </div>
            <button class="slider__control" data-slide="prev"></button>
            <button class="slider__control" data-slide="next"></button>
        </div>
    </div>
</section>