<section class="sales" id="sales">
  <div class="container">
    <ul class="sales__list">
      <li class="sales__item">
        <img
          srcet="./images/sales/pink-plaid-320w.jpg 320w, ./images/sales/pink-plaid-640w.jpg 640w"
          sizes="(min-width:1280px) 320px,100vw"
          src="./images/sales/pink-plaid-320w.jpg"
          alt="Рожевий плед"
          class="sales__img"
        />
      </li>
      <li class="sales__item">
        <p class="sales__text">Отримай знижку 15% за підписку</p>
        <a href="#" class="sales__link">Отримати</a>
      </li>
      <li class="sales__item">
        <img
          srcet="./images/sales/yellow-plaid-320w.jpg 320w, ./images/sales/yellow-plaid-640w.jpg 640w"
          sizes="(min-width:1280px) 320px,100vw"
          src="./images/sales/yellow-plaid-320w.jpg"
          alt="жовтий плед"
          class="sales__img"
        />
      </li>
      <li class="sales__item">
        <img
          srcet="./images/sales/grey-plaid-320w.jpg 320w, ./images/sales/grey-plaid-640w.jpg 640w"
          sizes="(min-width:1280px) 320px,100vw"
          src="./images/sales/grey-plaid-320w.jpg"
          alt="Сірий плед"
          class="sales__img"
        />
      </li>
    </ul>
  </div>
</section>
