<section class="sales" id="sales">
  <div class="container container--sales">
    <ul class="sales__list">
      <li class="sales__item">
        <div class="sales__container">
          <img
            src="./images/sales/pink-plaid-175w.jpg"
            srcet="./images/sales/pink-plaid-175w.jpg 175w, 
            ./images/sales/pink-plaid-320w.jpg 320w,
            ./images/sales/pink-plaid-350w.jpg 350w,
            ./images/sales/pink-plaid-375w.jpg 375w, 
            ./images/sales/pink-plaid-385w.jpg 385w, 
            ./images/sales/pink-plaid-640w.jpg 640w,
            ./images/sales/pink-plaid-750w.jpg 750w, 
            ./images/sales/pink-plaid-770w.jpg 770w"
            sizes="(min-width:1600px) 385px, (min-width:1280px) 320px, (min-width:768px) 175px, (max-width:767px) 375px, 100vw"
            alt="Рожевий плед"
            class="sales__img"
          />
        </div>
      </li>
      <li class="sales__item">
        <p class="sales__text">Отримай знижку 15% за підписку</p>
        <a href="#" class="sales__link">Отримати</a>
      </li>
      <li class="sales__item">
        <div class="sales__container">
          <img
            src="./images/sales/yellow-plaid-320w.jpg"
            srcet="./images/sales/yellow-plaid-320w.jpg 320w,
            ./images/sales/yellow-plaid-375w.jpg 375w, 
            ./images/sales/yellow-plaid-385w.jpg 385w, 
            ./images/sales/yellow-plaid-640w.jpg 640w,
            ./images/sales/yellow-plaid-750w.jpg 750w, 
            ./images/sales/yellow-plaid-770w.jpg 770w"
            sizes="(min-width:1600px) 385px, (min-width:1280px) 320px, (max-width:767px) 375px, 100vw"
            alt="жовтий плед"
            class="sales__img"
          />
        </div>
      </li>
      <li class="sales__item">
        <div class="sales__container">
          <img
            src="./images/sales/grey-plaid-282w.jpg"
            srcet="./images/sales/grey-plaid-282w.jpg 282w, 
            ./images/sales/grey-plaid-320w.jpg 320w, 
            ./images/sales/grey-plaid-345w.jpg 345w,
            ./images/sales/grey-plaid-375w.jpg 375w, 
            ./images/sales/grey-plaid-564w.jpg 564w, 
            ./images/sales/grey-plaid-640w.jpg 640w, 
            ./images/sales/grey-plaid-690w.jpg 690w,
            ./images/sales/grey-plaid-750w.jpg 750w"
            sizes="(min-width:1600px) 345px, (min-width:1280px) 320px, (min-width:768px) 282px, (max-width:767px) 375px,  100vw"
            alt="Сірий плед"
            class="sales__img"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
